<nav>
    <a href="{% url 'blog:index' %}">Главная</a>
    <a href="{% url 'blog:post_add' %}">Добавить пост</a>
    <a href="{% url 'blog:most_rated' %}">Самое оцениваемое</a>
    <a href="{% url 'blog:most_commented' %}">Самое комментируемое</a>
    <div>
        {% if user.is_authenticated %}
            <h4>Привет, {{ user.username }}!</h4>
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </div>

</nav>