{% extends "blog_base.html" %}

{% block title %}
    Редактирование поста "{{ post.headline }}" - Блог Никиты
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col bg-white py-2">
            <h2>Редактировать пост <i>{{ post.headline }}</i></h2>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>
</div>
{% endblock %}