{% extends 'blog_base.html' %}

{% block title %}
    Самое комментируемое - Блог Никиты
{% endblock %}

{% block content %}
    <h2>Топ записей по комментариям</h2>
    {% if posts %}
        {% for post in posts %}
        <ul>
            <li>
                <h3>{{ post.date_published|date:"j E Y, G:i:s" }}</h3>
                <h2><a href="{% url 'blog:post' post.id %}">{{ post.headline }}</a></h2>
                <p>{{ post.text|truncatewords:25 }}</p>
                <p>Рейтинг: {{ post.rating }} (+{{ post.pos_marks }}-{{ post.neg_marks }}), комментариев: {{ post.num_comms }}</p>
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <h3>В выборке нет постов</h3>
    {% endif %}
{% endblock %}
