{% extends "blog_base.html" %}

{% block title %}
{{ post.headline }} - Блог Никиты
{% endblock %}

{% block content %}
    <div class="container mt-1 pt-1">
        <div class="row">
            <div class="col-9 bg-light">
                <h6>{{ post.date_published|date:"j E Y, G:i" }}</h6>
                <h2>{{ post.headline }}</h2>
            </div>
            <div class="col-3 bg-white">
                <a href="{% url 'blog:post_edit' post.id %}">Редактировать</a>
                <a href="{% url 'blog:post_delete' post.id %}">Удалить</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 bg-light">
                <p>{{ post.text|linebreaks }}</p>
            </div>
        </div>
        <div class="row">
            {% if post.rating > 0 %}
            <div class="col-12 bg-light text-success">
                <h6 title="+{{ post.pos_marks }}-{{ post.neg_marks }}">Рейтинг: {{ post.rating }}</h6>
            </div>
            {% elif post.rating < 0 %}
            <div class="col-12 bg-light text-danger">
                <h6 title="+{{ post.pos_marks }}-{{ post.neg_marks }}">Рейтинг: {{ post.rating }}</h6>
            </div>
            {% else %}
            <div class="col-12 bg-light text-muted">
                <h6 title="+{{ post.pos_marks }}-{{ post.neg_marks }}">Рейтинг: {{ post.rating }}</h6>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-1 bg-light py-2 d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" name="set_mark_post" value="+">
                    <input type="submit" name="set_mark_post" value="-">
                </form>
            </div>
            <div class="col-11 bg-light py-2">
                {% if mark %}
                    Ваша оценка: {{ mark }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col bg-light py-2">
                <h4>Добавить комментарий</h4>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ comment_form_auth }}
                    </table>
                    <input type="submit" value="Отправить" name="add_comment_auth">
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col bg-light py-2">
                <p><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы иметь возможность оставлять комментарии и оценивать посты.</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col bg-light pt-3 pb-1">
                <h4>Комментарии (всего: {{ comments|length }})</h4>
            </div>
        </div>
        {% if comments %}
            {% for comment in comments %}
                <div class="row">
                    <div class="col bg-light py-3">
                        {{ comment.date_published|date:"j E Y, G:i" }}
                        <h6><a href="{% url 'blog:profile' comment.author_id %}">{{ comment.author }}</a></h6>
                        {{ comment.text }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col bg-light">
                    <p>Комментариев пока нет.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}