{% extends 'blog_base.html' %}

{% block title %}
    {{ profile.username }}: профиль пользователя - Блог Никиты
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col py-2 bg-white">
            <h2>{{ profile.username }} - профиль пользователя</h2>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            <h6>Последний вход на сайт: {{ profile.username }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col py-2 bg-light">
            <h3>Комментарии пользователя</h3>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
        {% if comments %}
            {% for comment in comments %}
                    <h5>{{ comment.date_published|date:"j E Y, G:i" }} - к посту <b><a href="{% url 'blog:post' comment.post.id %}">{{ comment.post.headline }}</a></b></h5>
                    <p>{{ comment.text }}</p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
