<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>{% block title %} Литературный блог Никиты {% endblock %}</title>

    <style>
        body {
          background-image: url('https://cdn.pixabay.com/photo/2017/07/13/16/16/paper-2500942_960_720.jpg');
        }
</style>
</head>
<body>
    {% block header %}

    {% include 'includes/menu.html' %}

    {% endblock header %}

    {% block content %} {% endblock content %}
</body>
</html>