<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>{% block title %} Литературный блог Никиты {% endblock %}</title>
</head>
<body>
    {% block header %}
    <div class="container bg-light pt-3 pb-2">
        <h1>Литературный блог Никиты</h1>
        {% include 'includes/menu.html' %}
    </div>

    {% endblock header %}

    {% block content %} {% endblock content %}

    {% include 'includes/footer.html' %}
</body>
</html>